<div class="span4">
  <!-- header modal login-->
  <form id="login-form" class="span3">
    <h2>Login </h2>

    <!-- contend modal login -->
    <input type="text" ng-model='username' placeholder="user name" /i>
    <input type="password" ng-model='password' placeholder="password"/>

    <!-- footer modal login-->
    <div id="btn" class="letf">
      <button class="btn btn-success" ng-click="login(username, password)">Sign in</button>
      <button class="btn btn-danger" ng-click="dismiss()">Cancel</button>
    </div>
  </form>
</div>
