<!-- Second Nav Bar -->
<div class="navbar-inner">
    <div class="container">
        <ul class="nav pull-left">
            <li>
                <a href="#"><i class="icon icon-hand-up"></i> Popular</a>
            </li>
            <li>
                <a href="#/friends"><i class="icon icon-group"></i> Friends</a>
            </li>
            <li>
                <a href="#/wishlist/my"><i class="icon icon-gift"></i> Wishlists</a>
            </li>
        </ul>
        <ul class="nav pull-right help-menu">
        </ul>
    </div>
</div>
