<div class="span4">
  <h6>Discover</h6>
  <ul class="unstyled">
    <li><a href="#">Top gifts</a></li>
    <li><a href="#">Bean Picks</a></li>
  </ul>
</div>
<div class="span4">
  <h6>Company</h6>
  <ul class="unstyled">
    <li><a href="#">About</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
<div class="span4">
  <h6>Join Us</h6>
  <ul class="unstyled">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Google</a></li>
  </ul>
</div>
