<!-- First Nav Bar -->
<div ng-controller='MainController' class="navbar-inner">
    <div class="container">
        <a class="brand" href="#">Brown Bean</a>
        <ul class="nav top-left-navigator">
            <li id="header-search">
                <form id="search-form">
                    <div id="search-bar">
                        <i class="icon icon-search"></i>
                        <input ui-event="{ keyup : 'moveToSearch($event)'}" type="text" placeholder="Search something here?" autocomplete="off" id="search-input"/>
                    </div>
                </form>
            </li>
          </ul>
        <div>
          <ul class="nav pull-right help-menu" ng-controller="UserController" >
            <li ng-hide="isLoggedIn">
              <a bs-modal="'views/user/modals/sign-in-modal.html'">Sign In</a>
            </li>
            <li ng-hide="isLoggedIn">
              <a bs-modal="'views/user/modals/sign-up-modal.html'" >Sign Up</a>
            </li>
            <li ng-show="isLoggedIn">
              <a href="#/user/setting">Setting</a>
            </li>
            <li ng-show="isLoggedIn">
              <a href="#" ng-click="logout()">Logout</a>
            </li>
          </ul>
        </div>
    </div>
</div>
