<div class="wishlist-top-badge row-fluid">
  <div class="pull-left user-info">
    <div class="pull-left">
      <a href="#/user/1" class="user-avatar pull-left">
        <img src='http://www.placehold.it/70.png' />
      </a>
    </div>
    <div class="pull-left">
      <p class='user-name'>User 1</p>
      <p class='list-name'>List 1 <i class="icon icon-lock"></i></p>
    </div>
  </div>
</div>

<div class="navbar wishlist-navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li>
          <button class="btn gray edit-button">Settings</button>
        </li>
        <li>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon icon-share"></i>Share
            </a>
            <ul class="dropdown-menu">
              <li><a href=""><i class="icon icon-twitter"></i> Twitter</a></li>
              <li><a href=""><i class="icon icon-facebook"></i> Facebook</a></li>
              <li><a href=""><i class="icon icon-envelope"></i> Email</a></li>
              <li><a href="">Copy link</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ul class='thumbnails product-thumbnails'>
  <li ng-repeat='product in products' class='span3'>
  <div class="thumbnail product">
    <img src='http://www.placehold.it/260x200.png' />
    <a href='#' ng-nov-tooltip class="well well-gift wish-list-button tooltip-button"
      rel='tooltip' data-original-title='Add to wishlist' data-placement='right'>
      <i class="icon-gift"></i>
    </a>
    <h5>title</h5>
    <p>caption </p>
  </div>
  </li>
</ul>

<div ng-show='currentProductCount < totalProductCount' class="row show-more">
  <button class="btn" ng-click='loadMore()'>Open more gifts</button>
</div>
