#search-form {
  margin: 0;
  &>.search-term {
    margin-top: 0;
  }
}

#product-result {
  .product {
    margin-bottom: 10px;
    .product-info {
      font-size: 14px;
      font-weight: bold;
    };

    .old-price {
      text-decoration: line-through;
    }

    .normal-price {
      font-size: 28px;
      font-weight: bold;
      color: #DAAB33;
    }

    .new-price {
      color: #B44B32;
      font-weight: bold;
      font-size: 30px;
    }

  }
}
