
<div class="content">
  <div class="wishlist-listing-view">
    <div class="bigListingPhoto" style="height: 492px; width: 738px;">
      <div class="slideshow-container">
        <img src="https://a2.muscache.com/pictures/2284412/x_large.jpg">
      </div>
      <a href="javascript:void(0);" class="photo-paginate prev big"><i></i></a>
      <a href="javascript:void(0);" class="photo-paginate next big"><i></i></a>
      <div class="wishlistSidebar">
        <button class="wish_list_button not_saved big pink" data-hosting_id="5633" title="Save this listing to review later" data-img="https://a0.muscache.com/pictures/2284412/medium.jpg" data-name="The Tiny Fern Forest Treehouse" data-address="Quaker St, Lincoln, VT 05443, United States">
          <span class="icon"></span>
          <span class="text saved">Saved to Wish List</span>
          <span class="text not_saved">Save to Wish List</span>
        </button>

        <a href="#/modal">
          <div class="beveled-media-box map-container">

            <div class="caption-top panel-padding">
              <i class="icon icon-map-marker"></i>
              <span>Lincoln, VT</span>
            </div>

            <img height="100" width="228" class="map" src="//maps.googleapis.com/maps/api/staticmap?center=44.11277910249989,-73.00558048982228&amp;zoom=5&amp;size=228x100&amp;maptype=roadmap&amp;sensor=false&amp;markers=icon:http://assets.airbnb.com.s3.amazonaws.com/images/product/ui/map_pin.png|shadow:true|44.11877910249989,-73.00558048982228">

            <div class="caption panel-padding">
              <span>Go to listing</span>
              <i class="icon icon-chevron-right"></i>
            </div>
          </div>
        </a>

        <div class="divider"></div>

        
        <div class="host-info-container">
          <div class="host-info">
            <a href="/wishlists/stay-in-a-treehouse">
              <div class="one-line">Trees &amp; Zzzs</div>
            </a>
          </div>
        </div>
        

        
        <div class="listing-pagination clearfix">
          <a href="#/modal" class="arrow previous" title="Previous" ng-click="dismiss()"><i></i></a>
          <a href="#/modal" class="thumbnail">
            <img src="https://a1.muscache.com/pictures/3414417/small.jpg" alt="Next" width="168" height="112">
            <div class="caption caption-fade">Next Listing »</div>
          </a>
          <a href="#/modal" class="arrow next" title="Next" ng-click="dismiss()"><i></i></a>
        </div>
        

        
        
      </div>
      <!-- <div class="x" data-lightbox-close="">×</div> -->
    </div>
  </div>
</div>