<div class="row-fluid well well-small">
  <form id='search-form' class="navbar-form pull-left">
    <input class='search-term' name='search-term' type="text" class='span8' placeholder='Name'/>
    <button type="submit" class="btn btn-success">Search <i class="icon icon-search"></i></button>
  </form>
</div>

<div class="row-fluid">

  <div class="filter-bar span4">
    <div class="accordion" id="accordion2">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
            Price
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            Ideas
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner" ng-repeat='idea in ideas'>
            <label class='checkbox'>
              <input type="checkbox" > {{idea.name}}
            </label>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            Categories
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner" ng-repeat='category in categories'>
            <label class='checkbox'>
              <input type="checkbox" > {{category.name}}
            </label>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="search-result" class='span8'>

    <div class="navbar share-navbar"><!-- .share-bar -->
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav pull-right">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon icon-share"></i>Share
              </a>
              <ul class="dropdown-menu">
                <li><a href=""><i class="icon icon-twitter"></i> Twitter</a></li>
                <li><a href=""><i class="icon icon-facebook"></i> Facebook</a></li>
                <li><a href=""><i class="icon icon-envelope"></i> Email</a></li>
                <li><a href="">Copy link</a></li>
              </ul>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- / .share-bar -->

    <div id="product-result">
      <ul class='unstyled' >
        <li class='row-fluid product' ng-repeat='product in products'>
          <div class='span2 product-image'><a href="" class='thumbnail'><img ng-src="{{product.imageUrl}}" alt="" /></a></div>
          <div class="product-info span6">
            <a href="">{{product.name}}</a>
          </div>

          <div class="product-price span4">
            <div class="price">
              <span ng-show='product.newPrice != product.price' class="new-price">
                {{product.newPrice}} DKK
              </span>
              <span ng-class="{'normal-price': product.newPrice == product.price,
                'old-price': product.newPrice != product.price}">
                {{product.price}} DKK
              </span>
            </div>

            <div ng-show='product.newPrice != product.price' class="extra-info">
              You save <strong>{{calculatePercent(product.price,
                product.newPrice)}}</strong> percent
            </div>

          </div>

        </li>
      </ul>
    </div>
  </div>

</div>
