/* Will be compiled down to a single stylesheet with your sass files */
.modal {
  left: 50%;
  width: auto !important;
  overflow: visible;
}
:focus {
    outline: none;
}

.content {
  display: inline-block;
  outline: none;
  text-align: left;
}

.wishlist-listing-view .bigListingPhoto {
  min-height: 492px;
  width: 100%;
  min-width: 738px;
  max-width: 1024px;
  margin-left: -270px;
  position: relative;
}

.wishlist-listing-view .slideshow-container {
z-index: 999;
background-color: #000;
position: relative;
display: block;
width: 100%;
height: 100%;
-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
box-shadow: 0 0 20px rgba(0,0,0,0.9);
outline: none;
}

.wishlist-listing-view .photo-paginate {
  z-index: 999;
  cursor: pointer;
}

.photo-paginate.prev {
  width: 40%;
  left: 0;
}
.photo-paginate.next {
  width: 60%;
  right: 0;
}
.photo-paginate {
  display: block;
  position: absolute;
  z-index: 99;
  height: 100%;
  top: 0;
  background: url(http://a2.muscache.com/airbnb/static/uiwidgets/transparent1x1-60e891ab61988970de1aa18128f5032c.gif) no-repeat;
}

.wishlist-listing-view .photo-paginate i {
  top: 40%;
}

.photo-paginate.big i {
width: 34px;
height: 95px;
background-image: url(http://a0.muscache.com/airbnb/static/uiwidgets/photo-pagination-arrows-big-d965cd13792f2f979d125f1a5dfba07e.png);
}
.photo-paginate.prev i {
  left: 10px;
}
.photo-paginate.next.big i {
  background-position: -34px 0;
}
.photo-paginate.next i {
  right: 10px;
  background-position: -16px 0;
}
.photo-paginate i {
  width: 16px;
  height: 32px;
  background-image: url(//a1.muscache.com/airbnb/static/uiwidgets/photo-pagination-arrows-f5b6a2e47d5ec4207b50021992b8d683.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 58px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity ease-in-out 100ms;
  -moz-transition: opacity ease-in-out 100ms;
  -o-transition: opacity ease-in-out 100ms;
  transition: opacity ease-in-out 100ms;
}
.wishlist-listing-view .wishlistSidebar {
  width: 270px;
  text-align: center;
  position: absolute;
  top: 0;
  right: -270px;
  background-color: white;
  height: 94%;
  margin-top: 3%;
}
.wish_list_button.pink {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
  font-weight: bold;
  border: 1px solid #BF0569;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3),inset 0 -1px 1px #c90373,0 1px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.3),inset 0 -1px 1px #c90373,0 1px 2px rgba(0,0,0,0.5);
  background: #bf0265;
  background: -webkit-gradient(linear, center top, center bottom, from(#ed1d89), to(#bf0265));
  background: -moz-linear-gradient(top, #ed1d89, #bf0265);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1d89', endColorstr='#ffbf0265', GradientType=0);
}

.wishlist-listing-view .wish_list_button {
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

.wish_list_button.big {
  width: 233px;
  line-height: 36px;
  font-size: 1.4em;
  display: inline-block;
  min-height: 40px;
}

.wish_list_button {
  font-weight: 500;
  text-align: left;
  cursor: hand;
  cursor: pointer;
  color: #393c3d;
  text-shadow: 0 1px 1px #fff;
  border: 1px solid #bfbfbf;
  border-top-color: #dfdfdf;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.14),inset 0 0 1px 2px rgba(255,255,255,0.7);
  box-shadow: 0 1px 3px rgba(0,0,0,0.14),inset 0 0 1px 2px rgba(255,255,255,0.7);
  background: #efefef;
  background: -webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#efefef));
  background: -moz-linear-gradient(top, #fefefe, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffefefef', GradientType=0);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.wish_list_button.pink .icon {
  background: url(https://a2.muscache.com/airbnb/static/wishlist/wish_list_button_hearts_pink-76ab1355e52f739af00661787cc5e2eb.png) no-repeat 0 10px;
  margin-right: 1px;
}

.wish_list_button.big .icon {
width: 27px;
height: 40px;
float: left;
margin: -2px 10px 0 6px;
display: inline-block;
background: url(https://a1.muscache.com/airbnb/static/wishlist/wish_list_button_hearts_big-d6cf92819b694e889ceb44932c220606.png) no-repeat 0 -31px;
}
.wish_list_button.pink .text {
  float: none;
  margin-left: 7px;
}
.wish_list_button.not_saved .text.saved {
  display: none;
}
.wish_list_button.big .text {
float: left;
}

.wish_list_button.pink {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
  font-weight: bold;
}

.wishlist-listing-view .wishlistSidebar {
  text-align: center;
}
.wishlist-listing-view .beveled-media-box {
  position: relative;
  z-index: 9;
  border: none;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.8),0 1px 6px -2px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 5px rgba(255,255,255,0.8),0 1px 6px -2px rgba(0,0,0,0.4);
}
.wishlist-listing-view .map-container {
  margin: 20px 0;
  height: 164px;
  width: 230px;
}
.beveled-media-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 0;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.beveled-media-box::before {
  -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,0.8),0 2px 3px -2px rgba(0,0,0,0.9);
  box-shadow: inset 0 0 3px rgba(255,255,255,0.8),0 2px 3px -2px rgba(0,0,0,0.9);
}
.inset-media-box::before, .beveled-media-box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wishlist-listing-view .map-container .caption-top {
  position: relative;
  border: 1px solid #000;
}
.wishlist-listing-view .map-container .caption-top, .wishlist-listing-view .map-container .caption {
  padding: 8px 10px;
}


.beveled-media-box .caption-top {
  width: 100%;
  top: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid black;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(7,10,11,0.6);
  background-image: -webkit-linear-gradient(top, rgba(67,60,61,0.6) 0%,rgba(7,10,11,0.6) 100%);
  background-image: -moz-linear-gradient(top, rgba(67,60,61,0.6) 0%,rgba(7,10,11,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99433c3d', endColorstr='#99070a0b', GradientType=0);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.3),0 0 0 #000;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.3),0 0 0 #000;
  line-height: 1em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
}

.wishlist-listing-view .map-container .caption-top i {
  font-size: 15px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
.icon::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.icon-map-marker::before {
  content: "\f041";
}
.wishlist-listing-view .map-container .caption-top span {
  padding-left: 2px;
  font-weight: bold;
  line-height: 0.9em;
}
.wishlist-listing-view .map-container img {
  border-left: 1px solid #ACACAC;
  border-right: 1px solid #ACACAC;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 100px;
}

.wishlist-listing-view .bigListingPhoto img {
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.wishlist-listing-view .map-container .caption {
  position: relative;
  color: #393c3d;
  font-weight: bold;
  text-shadow: 0 1px #FFF;
  text-align: center;
  border: 1px solid #ACACAC;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.9);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.9);
  background: rgba(230,230,230,0.9);
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.9)), to(rgba(230,230,230,0.9)));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(230,230,230,0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ffffff', endColorstr='#e5e6e6e6', GradientType=0);
}




.wishlist-listing-view .divider {
  height: 1px;
  width: 230px;
  margin: 0 auto;
  background: rgba(20,20,20,0.1);
}


.wishlist-listing-view .wishlistSidebar {
  text-align: center;
}

.wishlist-listing-view .host-info-container {
  display: table;
  margin-top: 15px;
  text-align: left;
  margin: 15px auto 0;
  width: 230px;
}

.wishlist-listing-view .host-info {
  display: table-cell;
  width: 1000px;
  vertical-align: top;
}

.host-info {
  margin-top: 10px;
}
.wishlist-listing-view .host-info a {
  font-weight: bold;
}

.host-info .one-line {
  overflow: hidden;
  height: 19px;
}


.wishlist-listing-view .listing-pagination {
  width: 228px;
  margin: 15px auto 0;
  -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,0.4);
  box-shadow: 0 1px 9px -3px rgba(0,0,0,0.4);
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}

.wishlist-listing-view .listing-pagination .arrow.previous {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.wishlist-listing-view .listing-pagination .arrow.next {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.wishlist-listing-view .listing-pagination .arrow {
  width: 28px;
  height: 112px;
  background: #efefef;
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#efefef));
  background: -moz-linear-gradient(top, #fff, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffefefef', GradientType=0);
}
.wishlist-listing-view .listing-pagination .arrow i {
  background-image: url(http://a1.muscache.com/airbnb/static/uiwidgets/pagination-arrows-29af443874a05330e2d4e07324a1a941.png);
  display: block;
  width: 12px;
  height: 11px;
  margin-top: 51px;
  margin-left: 6px;
}

.wishlist-listing-view .listing-pagination .arrow.next i {
  background-position: top right;
}



.wishlist-listing-view .listing-pagination a {
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2 #c3c3c3 #b4b4b4;
  float: left;
}

.wishlist-listing-view .listing-pagination .thumbnail {
  border-width: 1px 0;
  position: relative;
}

.wishlist-listing-view .listing-pagination .thumbnail {
  height: 112px;
  width: 168px;
  background: #333;
  padding: 0;
}

.wishlist-listing-view .listing-pagination a {
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2 #c3c3c3 #b4b4b4;
  float: left;
}
.wishlist-listing-view .listing-pagination .thumbnail img {
  float: left;
}


.wishlist-listing-view .bigListingPhoto img {
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.wishlist-listing-view .listing-pagination .thumbnail .caption {
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  z-index: 999;
}
.wishlist-listing-view .caption-fade {
  text-shadow: 0 -1px 1px #000;
  border-width: 0;
}

.caption.caption-fade {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(7,10,11,0.6) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(7,10,11,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99070a0b', GradientType=0);
  -webkit-box-shadow: 0 0 0 transparent,0 0 0 #000;
  box-shadow: 0 0 0 transparent,0 0 0 #000;
  text-shadow: 0 -1px 1px #000;
  border-width: 0;
}