/* line 14, ../../../app/styles/components/form.scss */
dl.form {
  margin: 15px 0;
}
/* line 17, ../../../app/styles/components/form.scss */
dl.form > dt label {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* line 23, ../../../app/styles/components/form.scss */
dl.form > dd input {
  margin: 0;
}
/* line 26, ../../../app/styles/components/form.scss */
dl.form > dd {
  margin: 0;
}
/* line 29, ../../../app/styles/components/form.scss */
dl.form > dd p.note {
  margin: 2px 0 5px 0;
  font-size: 11px;
  color: #666;
}
/* line 34, ../../../app/styles/components/form.scss */
dl.form > dd.error {
  display: inline-block;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #494620;
  background: #f7ea57;
  border: 1px solid #c0b536;
  border-top-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 39, ../../../app/styles/components/form.scss */
.form-warning {
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #E7E4C2;
  font-size: 14px;
  color: #333;
  background: #ffffe2;
  border-radius: 4px;
}
/* line 47, ../../../app/styles/components/form.scss */
.form-warning > p {
  margin: 0;
}

/* line 52, ../../../app/styles/components/form.scss */
.form-actions {
  margin: 0;
  padding: 0;
  border: 0;
  background: #fff;
}
