<div class="main-slide carousel slide span8">
  <div class="carousel-inner">
    <div class="active item">
      <a href=''><img src='http://www.placehold.it/770x376.png&text=slide1'
        /></a>
    </div>
    <div class="item">
      <a href=''><img src='http://www.placehold.it/770x376.png&text=slide2'
        /></a>
    </div>
    <div class="item">
      <a href=''><img src='http://www.placehold.it/770x376.png&text=slide3'
        /></a>
    </div>
  </div>
</div>

<div class="right-slide span4">
  <div class="item">
    <a href='#'><img src='http://www.placehold.it/375x120.png&text=slide1'
      /></a>
  </div>
  <div class="item">
    <a href=''><img src='http://www.placehold.it/375x120.png&text=slide2' /></a>
  </div>
  <div class="item">
    <a href=''><img src='http://www.placehold.it/375x120.png&text=slide3' /></a>
  </div>
</div>
