<ul class='thumbnails product-thumbnails'>
  <li ng-repeat='product in products' class='span3'>
  <div class="thumbnail product" bs-modal="'views/modal/_indexModal.html'">
    <img src='http://www.placehold.it/260x200.png' />
    <a href='#' ng-nov-tooltip class="well well-gift wish-list-button tooltip-button" rel='tooltip' data-original-title='Add to wishlist' data-placement='right'>
      <i class="icon-gift"></i>
    </a>
    <h5>title</h5>
    <p>caption </p>
  </div>
  </li>
</ul>
<div class="row show-more">
  <button class="btn">Open more gifts</button>
</div>
