<div id="friends" class="friends" ng-nov-scroll-button ng-nov-when-scrolled-horizontal="loadMore()">
  <div class="row-fluid">
      <div ng-repeat='friend in friends' class='span2'>
        <a href="" class="thumbnail friend" ng-click="selectFriend($index);setSelectedIndex($index);" >
          <img src='http://www.placehold.it/168x168.png'/>
          <p class="label label-inverse wishlist-label">
            {{friend.name}}
          </p>
          <div>
            <span ng-class="getLiClass($index);" class="text-success">
            <i class="icon-ok"></i>
            </span>  
          </div>
        </a>
      </div>
  </div>
</div>
<!-- Carousel nav -->
<div class="row-fluid scroll-button container carousel">
  <a class="carousel-control" id="scrollLeft" href="#">&lsaquo;</a>
  <a class="carousel-control right" id="scrollRight" href="#">&rsaquo;</a>
  <div class="friends-control">
 
  </div>
</div>


<!-- Product filters -->

<div class="container">
  <div class="navbar product-filter-navbar">
    <div class="navbar-inner">
      <div class="container">
        <!-- Left side -->
        <ul class="nav pull-left">
          <li>
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
              <i class="icon icon-filter"></i>Choose category
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <label tabindex="-1" class="checkbox">
                  <input type="checkbox">Filter 1
                </label>
              </li>
              <li>
                <label tabindex="-1" class="checkbox">
                  <input type="checkbox">Filter 2
                </label>
              </li>
              <li>
                <label tabindex="-1" class="checkbox">
                  <input type="checkbox"/>Something else here
                </label>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">
              <span>Price</span>
              <!-- TODO: Implement Jquery Range Slider -->
            </a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <button class="btn btn-small" ng-click="emptySelectedFriends();">
              <i class="icon-remove"></i> Empty selected friends
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- Product Grid -->
<ul class='thumbnails product-thumbnails'>
  <li ng-repeat='product in products' class='span3' ng-nov-show-hide-action>
  <div class="thumbnail product">
    <img src='http://www.placehold.it/270x270.png'/>    
    <div class="caption"><span>Product Name 01</span></div>
    <a href='#add-to-friends-modal' ng-nov-tooltip class="well well-gift add-to-friends-button tooltip-button action-button" rel='tooltip' data-original-title='Save this gift idea to other friends' data-placement='right' data-toggle="modal"
  ng-click='createProduct()'>
      <i class="icon-plus"></i>
    <a>
    <a href='#' ng-nov-tooltip class="well well-gift remove-from-friend-button tooltip-button action-button" rel='tooltip' data-original-title='Unassign this gift idea from friend' data-placement='right'>
      <i class="icon-remove"></i>
      <!-- TODO: Need an improved solution, only available when a friend is selected -->
    </a> 
  </div>
  </li>
</ul>

<div class="row show-more">
  <button class="btn">Open more gifts</button>
</div>

<!-- Add product button -->



<div id='footer' class="row-fluid" ng-include='partials.sharedFooter'></div>

<!-- MODAL 1 -->
<div id="add-to-friends-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-to-friends-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add-to-friends-label">Choose friends this gift idea is great for</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div ng-repeat='friend in friends' class='span2'>
        <a href="" class="thumbnail friend" ng-click="selectFriend($index);setSelectedIndex($index);" >
          <img src='http://www.placehold.it/168x168.png'/>
          <p class="label label-inverse wishlist-label">
            {{friend.name}}
          </p>
          <div>
            <span ng-class="getLiClass($index);" class="text-success">
            <i class="icon-ok"></i>
            </span>  
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
