<div>
  <div class="container-fluid">
    <div class="row-fluid">

      <!-- Menu Setting -->
      <div class="span4">
        <ul class="nav nav-fills nav-stacked nav-header">
          <li ng-repeat='link in links'>
            <a ng-click='changeLink(link.id)'>
              <i class="{{link.iconClass}}"></i>{{link.text}}
            </a>
          </li>
        </ul>
      </div>

      <!-- Menu Contend -->
      <div ng-include='currentLink.partial' class="span8">
      </div>
    </div>
  </div>
  <div id='footer' class="row-fluid" ng-include='partials.sharedFooter'></div>
</div>