<div class='fieldgroup' ng-controller='UserSettingController'>
<dl class='form'>
  <!-- old password -->
    <dt>
        <label>Old Password</label>
    </dt>
    <dd>
        <input id='user_password_confirmation' hint='please' name='user[password]' type='password' size='30' ng-model='user.password_old'/>
    </dd>
</dl>
<!-- new password -->
<dl class='form'>
    <dt>
        <label>New Password</label>
    </dt>
    <dd>
        <input id='user_password_confirmation' hint='please' name='user[password]' type='password' size='30' ng-model='user.password_new'/>
    </dd>
</dl>
<!-- confirm password -->
<dl class='form'>
    <dt>
        <label>Confirm Password</label>
    </dt>
    <dd>
        <input id='user_password_confirmation' hint='please' name='user[password]' type='password' size='30' ng-model='user.password_confirm'/>
    </dd>
</dl>

<!-- button save new password -->
<div class="form-actions">
      <button type='button' class='btn btn-success' ng-click='saveUserInfo()'> Change Password</button>
</div>
<br></br>
</div>
