<div class='fieldgroup' ng-controller='UserSettingController'>
  <form accept-charset='UTF-8' name='userRegisterForm'>
    <div class='error'></div>
      <dl class='form'>
        <dt>
        <label for='user_name' hint='please' name='user[name]'>Change username</label>
        </dt>
        <dd>
        <input id='user_name' autofocus='autofocus' required hint='please' name='user[name]' type='text' size='30' ng-model='user.name'/>
        </dd>
      </dl>
      <dl class='form'>
        <dt>
        <label for='user_email' hint='please' name='user[email]'>User email</label>
        </dt>
        <dd>
        <input id='user_email' hint='please' name='user[email]' type='email'
        size='30' ng-model='user.email'/>
        <p class='note' ng-hide='userRegisterForm["user[email]"].$invalid'>We won't share your email</p>
        </dd>
        <dd class="error" ng-show='userRegisterForm["user[email]"].$error.email'>Email is invalid</dd>
      </dl>
      <dl class='form'>
        <dt>
        <label for='user_password' hint='please' name='user[password]'>Password</label>
        </dt>
        <dd>
        <input id='user_password' hint='please' name='user[password]'
        type='password' size='30' ng-model='user.password'/>
        </dd>
      </dl>
      <dl class='form'>
        <dt>
        <label for='user_password_confirmation' hint='please' name='user[password_confirmation]'>Confirm Password</label>
        </dt>
        <dd>
        <input id='user_password_confirmation' hint='please' name='user[password]'
        type='password' size='30' ng-model='user.password_confirm'/>
        </dd>
      </dl>
      <div class="form-actions">
        <button type='button' class='btn btn-success' ng-click='saveUserInfo()'>Save Profile</button>
      </div>
  </form>
  <br></br>
</div>
